<div>
  <h2>heros works!</h2>
  <div *ngIf="selectedHero">
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
  <div>
    <label for="new-hero">Enter hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) pass the input value and add it to backend -->
    <button class="add-button" (click)="add(heroName.value)">Add hero</button>
  </div>
  <h2>My hero lists</h2>
  <div>
    <ng-container *ngIf="heroesData; else elseTemplate">
      <h3>All heroes are listed</h3>
    </ng-container>
    <ng-template #elseTemplate>
      <h3>No data is fetched for now, check the code</h3>
    </ng-template>
  </div>
  <ul class="heroes" *ngIf="heroesData" el>
    <li
      *ngFor="let hero of heroesData"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
    >
      <a
        routerLink="/heroes/{{ hero.id }}"
        routerLinkActive="router-link-active"
      >
        <span class="badge">{{ hero.id }}</span
        >- {{ hero.name }}
      </a>
      <button
        class="delete-button"
        title="delete hero"
        (click)="delete(hero.id)"
      >
        x
      </button>
    </li>
  </ul>
</div>
